<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p> Choose the movie you want to find </p>
	 
	<form action="/movie" method="POST">
	 	
	 <input type="text" name="film" placeholder="find">

	 <button type="submit" name="btn" value="finder">Find</button>
	 
	</form>

</body>
</html>